registry=https://pkgs.dev.azure.com/dnvgl-ngfm/NGFM/_packaging/NGFM_Feed/npm/registry/

always-auth=true
//pkgs.dev.azure.com/dnvgl-ngfm/NGFM/_packaging/NGFM_Feed/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/dnvgl-ngfm/NGFM/_packaging/NGFM_Feed/npm/registry/:_password=YzdnNjJ6dWoyNGw2d3dmajU0YmhpYjZ2eGVlNG14NTJqamNna2MyaG5yczVnNG54Y3M2YQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/dnvgl-ngfm/NGFM/_packaging/NGFM_Feed/npm/registry/:email=not-used@example.com
